<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hobbies Page</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <h1>My Hobbies</h1>
        <div class="image-container">
            <img src="/static/BG3_logo.jpg" alt="Image 1">
            <img src="/static/the-martian-book-cover.webp" alt="Image 2">
        </div>
        <p>In my free time, I love diving into different worlds through books, video games, and tabletop adventures. Reading has always been a favorite pastime, letting me explore new ideas and stories. Some of my favorite books include <em>Good Omens</em> by Neil Gaiman and Terry Pratchett, and <em>The Martian</em> by Andy Weir. I also enjoy playing video games, and right now, <em>Baldur’s Gate 3</em> is my current favorite. When I want a more interactive storytelling experience, I love playing Dungeons & Dragons, where I get to create characters, go on epic quests, and enjoy great adventures with friends.</p>


    </body>
</html>